<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Velvet</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="shortcut icon" type="/assets/x-icon" href="favicon.ico">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,400italic,700">

	<link rel="stylesheet" href="/assets/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/velvet.css">

	<style>
		#themes {
			position: absolute;
			top:50%;
			left:50%;
			min-width: 100%;
			width: auto;
			height: auto;
			z-index: -2;
			overflow: hidden;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			-o-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		.theme {
			opacity: 0.8;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			transition: all .2s;
		}
		.theme:hover {
			opacity: 1;
		}
		.theme a {
			text-decoration: none;
			color: #444;
		}
	</style>

</head>
<body>	

	<section id="themes">
		<div class="container">

			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Velvet</h1>
					<h2 class="h4">Multipurpose Bootstrap Theme</h2>
					<br />
					<a class="btn btn-velvet" href="#">Purchase now</a>
					<br /><br /><br />
				</div>
			</div>

			<div class="row">
				<div class="theme col-md-6 text-center">
					<a href="/image" title="Gradient">
						<img src="/assets/demo/image.png" class="img-responsive" />
						<h2 class="h3">Single image</h2>
					</a>
				</div>
				<div class="theme col-md-6 text-center">
					<a href="/video" title="Video">
						<img src="/assets/demo/video.png" class="img-responsive" />
						<h2 class="h3">Video</h2>
					</a>
				</div>
			</div>
		</div>
    </section><!-- /#themes -->

	<script type="text/javascript" src="/assets/jquery-1.11.0.min.js"></script>	
</body>
</html>