<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Velvet</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="shortcut icon" type="/assets/x-icon" href="/assets/favicon.ico">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,400italic,700">

	<link rel="stylesheet" href="/assets/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/velvet.css">
	<link rel="stylesheet" href="/assets/custom.css">
</head>
<body>	

	<div class="loading"></div>

	<nav class="navbar navbar-velvet navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-diamond"></i><span> Velvet</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#mission" class="smooth-scroll">Mission</a></li>
            <li><a href="#services" class="smooth-scroll">Services</a></li>
            <li><a href="#portfolio" class="smooth-scroll">Portfolio</a></li>
            <li><a href="#about" class="smooth-scroll">About</a></li>
            <li><a href="#contact" class="smooth-scroll">Contact</a></li>
            <li><a href="/components">Components</a></li>
          </ul>
        </div>
      </div>
    </nav>

	<section id="intro" class="section bg-video">

		<div class="container-fluid">

			<div class="video">
				<video class="video" preload="auto" autoplay loop="loop"> 
					<source src="/assets/video/distill-1.webm" type="video/webm"> 
					<source src="/assets/video/distill-1.mp4" type="video/mp4"> 
					<source src="/assets/video/distill-1.ogg" type="video/ogg"> 
				</video>
			</div>

			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">

					<div class="text-center">
						<h1>Looking for astronauts</h1>
						<p>Take all your reasons and take them away. To the middle of nowhere, and on your way home. Throw from your window your record collection. They all run together and never make sense. But that's how we like it, and that's all we want.</p>
					</div>
					
				</div>
			</div>

			<a class="discover smooth-scroll" href="#mission">Discover</a>

		</div>
	</section><!-- /#intro -->

	<section class="section" id="mission">
		<div class="container-fluid">

			<div class="col-lg-6 half bg"></div>

			<div class="col-lg-6 half">
				
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="section-header">
							<h2 class="section-title">Our mission</h2>
							<h3 class="section-subtitle">Something to cry for, and something to hunt</h3>
						</div>
						
						<p class="text-md text-italic text-muted">
							Take all your reasons and take them away. To the middle of nowhere, and on your way home. Throw from your window your record collection. They all run together and never make sense. But that's how we like it, and that's all we want. Something to cry for, and something to hunt.
						</p>
						<p>&nbsp;</p>
						<p>
							<a href="#portfolio" class="smooth-scroll btn btn-velvet">See portfolio</a>
						</p>

					</div>
				</div>

			</div>
		</div>
	</section><!-- /#mission -->

	<section class="section" id="services">
		<div class="container-fluid">

			<div class="col-lg-6 half bg"></div>

			<div class="col-lg-6 half">
				
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="section-header">
							<h2 class="section-title">Services</h2>
						</div>
						
						<div class="row">
							<div class="col-lg-6">
								<h4 class="section-subtitle"><i class="fa fa-rocket"></i> Branding</h4>
								<p class="text-md text-italic text-muted">
									Take all your reasons and take them away. To the middle of nowhere, and on your way home. Throw from your window your record collection. They all run together and never make sense. But that's how we like it, and that's all we want. Something to cry for, and something to hunt.
								</p>
							</div>
							<div class="col-lg-6">
								<h4 class="section-subtitle"><i class="fa fa-rocket"></i> Photography</h4>
								<p class="text-md text-italic text-muted">
									Take all your reasons and take them away. To the middle of nowhere, and on your way home. Throw from your window your record collection. They all run together and never make sense. But that's how we like it, and that's all we want. Something to cry for, and something to hunt.
								</p>
							</div>
							<div class="col-lg-6">
								<h4 class="section-subtitle"><i class="fa fa-rocket"></i> Web Design</h4>
								<p class="text-md text-italic text-muted">
									Take all your reasons and take them away. To the middle of nowhere, and on your way home. Throw from your window your record collection. They all run together and never make sense. But that's how we like it, and that's all we want. Something to cry for, and something to hunt.
								</p>
							</div>
							<div class="col-lg-6">
								<h4 class="section-subtitle"><i class="fa fa-rocket"></i> App Design</h4>
								<p class="text-md text-italic text-muted">
									Take all your reasons and take them away. To the middle of nowhere, and on your way home. Throw from your window your record collection. They all run together and never make sense. But that's how we like it, and that's all we want. Something to cry for, and something to hunt.
								</p>
							</div>
						</div>

					</div>
				</div>

			</div>
			
		</div>
	</section><!-- /#services -->

	<section class="section" id="portfolio">
		<div class="container-fluid">
			<div id="portfolioPlaceholder" class="col-lg-6 half bg"></div>

			<div class="col-lg-6 half">
				
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">

						<div class="section-header">
							<h2 class="section-title">Portfolio</h2>
							<h3 class="section-subtitle">You can break what you have, but the rest of it's mine</h3>
						</div>

						<div class="row">
							<div class="col-lg-12 text-center">

								<div id="filters" class="button-group">
									<button class="btn btn-velvet is-checked" data-filter="*">Show all</button>
									<button class="btn btn-velvet" data-filter=".branding">Branding</button>
									<button class="btn btn-velvet" data-filter=".photography">Photography</button>
									<button class="btn btn-velvet" data-filter=".web-design">Web Design</button>
									<button class="btn btn-velvet" data-filter=".app-design">App Design</button>
								</div>

								<div class="isotope row">
									<div class="col-lg-3 col-xs-6 element-item photography branding web-design app-design">
										<a data-href="/assets/superfamous-02.jpg">
											<img class="img-responsive" src="/assets/superfamous-02.jpg" />
										</a>
									</div>
									<div class="col-lg-3 col-xs-6 element-item photography web-design app-design">
										<a data-href="/assets/superfamous-03.jpg">
											<img class="img-responsive" src="/assets/superfamous-03.jpg" />
										</a>
									</div>
									<div class="col-lg-3 col-xs-6 element-item photography branding app-design">
										<a data-href="/assets/superfamous-01.jpg">
											<img class="img-responsive" src="/assets/superfamous-01.jpg" />
										</a>
									</div>
									<div class="col-lg-3 col-xs-6 element-item photography branding web-design">
										<a data-href="/assets/superfamous-04.jpg">
											<img class="img-responsive" src="/assets/superfamous-04.jpg" />
										</a>
									</div>
									<div class="col-lg-3 col-xs-6 element-item branding web-design app-design">
										<a data-href="/assets/superfamous-05.jpg">
											<img class="img-responsive" src="/assets/superfamous-05.jpg" />
										</a>
									</div>
									<div class="col-lg-3 col-xs-6 element-item photography branding app-design">
										<a data-href="/assets/superfamous-06.jpg">
											<img class="img-responsive" src="/assets/superfamous-06.jpg" />
										</a>
									</div>
									<div class="col-lg-3 col-xs-6 element-item branding web-design app-design">
										<a data-href="/assets/superfamous-07.jpg">
											<img class="img-responsive" src="/assets/superfamous-07.jpg" />
										</a>
									</div>
									<div class="col-lg-3 element-item photography web-design app-design">
										<a data-href="/assets/superfamous-08.jpg">
											<img class="img-responsive" src="/assets/superfamous-08.jpg" />
										</a>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>

			</div>
		</div>
	</section><!-- /#portfolio -->

	<section class="section" id="about">
		<div class="container-fluid">

			<div class="col-lg-6 half bg"></div>

			<div class="col-lg-6 half">
				
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="section-header">
							<h2 class="section-title">About us</h2>
							<h3 class="section-subtitle">We're out looking for astronauts</h3>
						</div>
						<p class="text-md text-italic text-muted">
							Take all your reasons and take them away. To the middle of nowhere, and on your way home. Throw from your window your record collection. They all run together and never make sense. But that's how we like it, and that's all we want.
						</p>
						<p class="text-md text-italic text-muted">
							You know you have a permanent piece. Of my medium-sized American heart. So don't wear the watch. When you're out with the cunts. You can break what you have, but the rest of it's mine
						</p>

					</div>
				</div>

			</div>
			
		</div>
	</section><!-- /#about -->

	<section class="section" id="contact">
		<div class="container-fluid">

			<div class="col-lg-6 half bg"></div>

			<div class="col-lg-6 half">
				
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="section-header">
							<h2 class="section-title">Contact</h2>
							<h3 class="section-subtitle">We love talking</h3>
						</div>
						
						<form id="contact" method="post" class="form" role="form">
							<div class="form-group">
								<input class="form-control" id="subject" name="subject" placeholder="Subject" type="text" />
							</div>
							<div class="form-group">
								<input class="form-control" id="name" name="name" placeholder="Name" type="text" />
							</div>
							<div class="form-group">
								<input class="form-control" id="email" name="email" placeholder="Email" type="text" />
							</div>
							<textarea class="form-control" id="message" name="message" placeholder="Message" rows="6"></textarea>
							<br />
							<button class="btn btn-velvet" type="submit">Submit</button>
						</form>

					</div>
				</div>

			</div>
			
		</div>
	</section><!-- /#contact -->

	<footer id="footer">
		<div class="container-fluid">
			<div class="col-lg-12 text-center">

				<div class="brand">
					<i class="fa fa-diamond fa-2x"></i>
				</div>

				<ul class="list-inline">
					<li>
						<a href="#">Twitter</a>
					</li>
					<li>
						<a href="#">GitHub</a>
					</li>
					<li>
						<a href="#">Facebook</a>
					</li>
					<li>
						<a href="#">Google+</a>
					</li>
				</ul>

				<p class="copyright text-sm text-muted">
					&copy; 2015. All rights reserved.
				</p>
			</div>
		</div>
	</footer><!-- /#footer -->

	<nav id="vertical-nav">
		<ul>
			<li><a href="#0" class="prev inactive"><i class="fa fa-arrow-long-up"></i></a></li>
			<li><a href="#0" class="next inactive"></a></li>
		</ul>
	</nav><!-- /#vertical-nav -->
		
	<script type="text/javascript" src="/assets/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="/assets/curtains.js"></script>
	<script type="text/javascript" src="/assets/velvet.js"></script>
</body>
</html>