#intro.bg-image .container-fluid {
	background-image: url('../assets/superfamous-05.jpg');
}

#about .half.bg {
  background-image: url("../assets/superfamous-03.jpg");
  background-size: cover;
}

#mission .half.bg {
  background-image: url("../assets/img1.png");
  background-size: cover;
}

#services .half.bg {
  background-image: url("../assets/img2.png");
  background-size: cover;
}

#portfolio .half.bg {
  background-image: url("../assets/img3.jpg");
  background-size: cover;
}

#contact .half.bg {
  background-image: url("../assets/superfamous-07.jpg");
  background-size: cover;
}

.p10{
    padding-bottom: 40px;

}